[mysqld]
key_buffer 		= 384M
max_allowed_packet 	= 1G
table_open_cache 	= 4096
sort_buffer_size 	= 2M
read_buffer_size 	= 4M
read_rnd_buffer_size 	= 64M
myisam_sort_buffer_size = 64M
thread_stack            = 192K
thread_cache_size 	= 12
query_cache_size 	= 32M

max_connections		= 1000
connect_timeout		= 43200
net_read_timeout	= 28800
net_write_timeout	= 28800
interactive_timeout	= 28800
slave_net_timeout	= 28800
thread_pool_idle_timeout = 28800
max_heap_table_size 	= 250M
open_files_limit	= 5000
table_cache 		= 2200
tmp_table_size		= 40M
net_buffer_length	= 512M

innodb_buffer_pool_size		= 2G
innodb_additional_mem_pool_size = 20M
innodb_log_file_size 		= 128M
innodb_log_buffer_size 		= 64M
#innodb_flush_log_at_trx_commit 	= 1
innodb_fatal_semaphore_wait_threshold = 28800
innodb_lock_wait_timeout 	= 28800

log_error 			= /var/log/mysql/mysql_error.log
#innodb_force_recovery=6
